/* --------------------------------- */
/* Css Styles                        */
/*---------------------------------- */

/**
    Cenky  - Portfolio Template 
    Author : Soonlabs
    Copyright 2019


/* Table of Content
==================================================

    1. Body and Core Css
    2. Home Page
    3. About Page
    4. Portfolio List
    5. News Page
    6. Contact Page
    7. Responsive
*/ 

@import url("margins.css");
@import url("reset.css");
@import url("assets.css");

/*------------------------ 1 Body and Core Css ------------------------*/   

body{
  font-family: 'Roboto', sans-serif;
  background: #141414;
  overflow-x: hidden;
}

p{
  color: #fff;
  font-weight: 400;
}



.box-animation {
    opacity: 0.01;
    -webkit-transition:translateY(80px);
    transform: translateY(80px);
    transform-origin: 50% 0;
    will-change:transform;
  }
  
  .box-animation.has-scale {
    opacity: 0.0001;
    -webkit-transition:translateY(120px) scaleY(1.5);
    transform: translateY(120px) scaleY(1.5);
    transform-origin: 50% 0;
    will-change:transform;
  }
  
  .text-animation span {
    display:inline-block;
    overflow:hidden;
  }
  
  .text-animation span > span {
    display: inline-block;
    margin:0!important;
    line-height:40px;
    height:40px;
    opacity:0;
    -webkit-transform:translateY(60px);
    transform: translateY(60px);
  }
  
  h1.text-animation span, h1.text-animation span > span {
    line-height:60px;
    height:60px;
    margin-right:12px;
  }
  
  h2.text-animation span, h2.text-animation span > span {
    line-height:40px;
    height:40px;
    margin-right:10px;
  }
  
  h3.text-animation span, h3.text-animation span > span {
    line-height:32px;
    height:32px;
    margin-right:8px;
  } 
  
  h4.text-animation span, h4.text-animation span > span {
    line-height:28px;
    height:28px;
    margin-right:7px;
  }
  
  h5.text-animation span, h5.text-animation span > span {
    line-height:20px;
    height:20px;
    margin-right:6px;
  }
  
  h6.text-animation span, h6.text-animation span > span {
    line-height:16px;
    height:16px;
    margin-right:5px;
  }
  

  h1.text-animation span, h1.text-animation span > span {
    line-height:50px;
    height:50px;
    margin-right:12px;
  }
  
  h2.text-animation span, h2.text-animation span > span {
    line-height:40px;
    height:40px;
    margin-right:10px;
  }

    p.text-animation span, p.text-animation span > span {
    line-height: 32px;
    height: 30px;
    margin-right: 10px;
  }



main{
  overflow: hidden;
  width: 100%;
}

.logo img{
    max-height: 28px;
}

.page-effect{
  width: 0%;
  height: 100vh;
  right: 0;
  background: #000;
  position: fixed;
  z-index: 100;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    padding: 40px 45px;
}

.slider-bottom{
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 10;
    padding: 40px 45px;
}

.slider-bottom .navigate a{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.slider-bottom .navigate a.next{
    margin-right: 20px;
}

.slider-bottom .navigate a:hover{
    opacity: .5;
    color: #fff;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
}

.slider-bottom .see-all{
  color: #fff;
  font-size: 16px;
  float: left;
  margin-left: 45px;
  cursor: pointer;
  line-height: 32px;
}

.all-projects{
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: url(../img/bg.jpg);
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
}

.all-projects.active{
  visibility: visible;
  position: absolute;
  opacity: 1;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}

.all-projects .close-icon{
  position: fixed;
}

.all-projects ul {
  margin: 120px 0 90px;
}

.all-projects ul li{
  list-style: none;
}

.all-projects ul li a{
  color: #fff;
  font-size: 56px;
  line-height: 84px;
  opacity: .5;
  display: inline-block;
  width: 100%;
    font-family: 'Teko', sans-serif;
}

.all-projects ul li img{
    opacity: 0;
    right: 20%;
    top: 11%;
    visibility: hidden;
    position: fixed;
    max-height: 400px;
    z-index: -1;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}

.all-projects ul li a:hover + img{
  opacity: 1;
  visibility: visible;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}

.all-projects ul li a:hover{
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  opacity: 1;
}

.social a {
    color: #fff;
    margin-right: 24px;
}

.social a:hover {
    display: inline-block;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}

header .menu{
    cursor: pointer;
}


.right-menu.active {
    transform: translateX(1%);
    visibility: visible;
}

.right-menu {
    background:#000;
    height: 100vh;
    width: 30%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 11;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    display: table;
    visibility: hidden;
    text-align: left;
}

.close-icon {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 44px;
    right: 50px;
    background: url(../img/close.png) no-repeat;
    cursor: pointer;
    background-size: 100%;
}

.right-menu .social{
    position: absolute;
    bottom: 40px;
    right: 30px;
}

.right-menu .close-icon:hover{
    opacity: .5;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}

.right-menu nav{
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-right: 50px;
}

.right-menu nav ul li a{
    color: #fff;
    font-size: 30px;
    font-weight: 900;
}

.right-menu nav ul li a:hover{
    opacity: .6;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}

.right-menu nav ul li > ul{
    display: none;
}

.right-menu nav ul li > ul li a{
    font-size: 14px;
    font-weight: 400;
}

.right-menu nav ul li.hassub i{
    color: #fff;
    margin-right: 13px;
    cursor: pointer;
}

.right-menu nav ul li.hassub i:hover{
    opacity: .6;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}


.ws-pages {
  overflow: hidden;
  position: relative;
  height: 100vh;
}
.ws-bgs {
  position: relative;
  height: 100%;
}
.ws-bg {
  display: flex;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.ws-pages.s--ready .ws-bg {
  background: none;
}

.ws-bg__part {
  overflow: hidden;
  position: relative;
  height: 100%;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.ws-bg__part-inner {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
  background-size: cover;
  background-position: center center;
}
.ws-bg:nth-child(1) {
  background-image: url(../img/works/work-1/slider-1.jpg);
}
.ws-bg:nth-child(1) .ws-bg__part-inner {
  background-image: url(../img/works/work-1/slider-1.jpg);
}
.ws-bg:nth-child(2) {
  background-image: url(../img/works/work-2/slider-2.jpg);
}
.ws-bg:nth-child(2) .ws-bg__part-inner {
  background-image: url(../img/works/work-2/slider-2.jpg);
}
.ws-bg:nth-child(3) {
  background-image: url(../img/works/work-3/slider-3.jpg);
}
.ws-bg:nth-child(3) .ws-bg__part-inner {
  background-image: url(../img/works/work-3/slider-3.jpg);
}
.ws-bg:nth-child(4) {
  background-image: url(../img/works/work-4/slider-4.jpg);
}
.ws-bg:nth-child(4) .ws-bg__part-inner {
  background-image: url(../img/works/work-4/slider-4.jpg);
}
.ws-bg:nth-child(5) {
  background-image: url(../img/works/work-5/slider-5.jpg);
}
.ws-bg:nth-child(5) .ws-bg__part-inner {
  background-image: url(../img/works/work-5/slider-5.jpg);
}
.ws-text {
  overflow: hidden;
  position: absolute;
  left: 5%;
  top: 50%;
  height: 110px;
  margin-top: -25px;
}
.slider-text-heading {
  justify-content: space-between;
  height: 100%;
    overflow: hidden;
    padding-top: 7px;
    display: block;
}

.slider-text-heading .title{
    font-family: 'Teko', sans-serif;
    display: flex;
    justify-content: space-between;
    font-size: 105px;
    padding-top: 0px;
    line-height: 84px;
    font-weight: 700;
    letter-spacing: -2px;
    color: #fff;
    margin-bottom: 0;
}

.slider-text-heading .category{
    font-size: 16px;
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.slider-text-heading .number{
    font-size: 16px;
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    margin-left: 5px;
    opacity: .7;
    color: #fff;
}



/*------------------------ About ------------------------*/   

.subpage{
  padding: 120px 0 0; 
}

.page-title{
    font-size: 60px;
    color: #fff;
    font-weight: 500; 
    font-family: 'Teko', sans-serif;
}

.subtext{
  font-size: 28px;
  font-weight: 600;
  color: #fff;
  ine-height: 42px;
}


.subtitle{
  font-size: 30px;
  font-weight: 600;
  color: #fff;  
  font-family: 'Teko', sans-serif;
}


.services .service{
  text-align: center;
  padding: 45px;
  border-bottom: 3px solid rgba(255, 255, 255, 0);
}

.services .service:hover{
  border-bottom: 3px solid #fff;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}

.services .service i:before{
  color: #fff;
  font-size: 70px;    
  margin-left: 0px;
}

.services .service h2{
  color: #fff;
  font-size: 24px;
  font-family: 'Teko', sans-serif;
  margin-top: 10px;
}

.services .service p{
  color: #757575;
  font-size: 15px;
  font-weight: 400;
}

.testimonials .item p{
  color: #fff;
  font-size: 18px;
} 

.testimonials .item span{
  color: #fff;
  opacity: .7;
  font-size: 15px;
  margin-bottom: 30px;
} 


.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 30px;
    text-align: left;
}

.services {
    background: #000;
    -webkit-box-shadow: 0px 50px 70px -40px rgba(0,0,0,0.95);
    box-shadow: 0px 50px 70px -40px rgba(0,0,0,0.95);
}

.owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    border-radius: 0;
    outline: 0;
}

.owl-theme .owl-dots .owl-dot {
    outline: 0;
}

.clients .client img{
  width: 100%;
}

footer {
    width: 100%;
    padding: 90px 60px;
}

footer .copyright{
  font-size: 15px;
  color: #fff;
}

footer .social a{
  font-size: 14px;
}

footer .back-top{
  color: #fff !important;
  margin-right: 45px;
  font-size: 15px;
  cursor: pointer;
}

footer .back-top:hover{
  opacity: .5;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}

footer .back-top p, footer .back-top i{
  float: left;
}

footer .back-top i{
  margin-right: 15px;
  line-height: 27px;
}


/*------------------------ Contact ------------------------*/   

.contact-map{
  width: 100%;
}

.contact-map iframe{
  width: 100%;
}

.getintouch .contact-info .info i, .getintouch .contact-info .info a, .getintouch .contact-info .info p{
  color: #fff;
  display: block;
}

.getintouch .contact-info .info i{
  font-size: 26px;
  margin-bottom: 20px;
}

.getintouch .contact-info .info p{
  font-size: 14px;
  margin-top: 6px;
  opacity: .6;    
  font-weight: 300;
}

.getintouch .contact-info .info a{
    font-size: 15px;
}


.getintouch .contact-info .info p.text{
    opacity: 1;
    font-weight: 500;
    font-size: 15px;
}

.form-inp {
    border: 0;
    background: none;
    border-bottom: solid 1px #8c8c8c;
    width: 100%;
    margin-bottom: 60px;
    font-size: 15px;
    line-height: 45px;
}

.contact-form textarea {
    border: 0;
    background: none;
    border-bottom: solid 1px #8c8c8c;
    width: 100%;
    color: #000;
    font-size: 15px;
}

.form-inp:focus, .contact-form textarea:focus{
  border-bottom: solid 2px #fff;
}

textarea::placeholder, .form-inp::placeholder {
  color: #fff;  
  font-family: 'Roboto', sans-serif;
}

.site-btn{
  border-radius: 3px;
  padding: 11px 35px;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  border: 0;
}

.site-btn:hover{
  background: #e4e4e4;
}

.site-btn:focus{
  outline: 0;
}

.page-container {
    visibility: hidden;
    height:100vh;
    width: 100%;
    left:0px;
    position: fixed;
    top:0;
    z-index:100;
    -webkit-transform: scale(1.00);
    transform: scale(1.00); 
}

.page-wrapper {
    cursor: pointer;
    position: absolute;
    height:100vh;
    width:100%;
    top:0;
    left:0px;
    position: fixed;
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
}

.above{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}




/*------------------------ Portfolio ------------------------*/   

.portfolio-hero{
  position: relative;
  z-index: 1;
}

.portfolio-hero .image{
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.hero-content {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100vh;
    text-align: center;
    left: 0;
    top: 0;
    display: table;
}

.inner {
    display: table-cell;
    vertical-align: middle;
}

.portfolio-hero .hero-content .title {
    color: #fff;
    font-size: 100px;
    line-height: 60px;
    font-weight: 700;
    font-family: 'Teko', sans-serif;
}

.portfolio-hero .hero-content .category {
    color: #fff;    
    font-size: 15px;
    font-weight: 400;
}

.subpage.portfolio-details .page-title{
  font-size: 50px;
  height: 55px;
}

.subpage.portfolio-details .subtext{
  font-size: 25px;
}

.down-icon {
    margin-top: 60px;
    width: 100px;
    height: 100px;
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto 90px;
    z-index: 100;
    cursor: pointer;
}

svg #wheel {
    animation: scroll ease 2s infinite;
}


@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(60px);
    }
}

.portfolio-carousel .owl-nav.disabled+.owl-dots{
  text-align: center;
}

p.text{
  font-size: 18px;
  line-height: 29px;
}

.next-link {
    text-decoration: none;
    overflow: hidden;
    height: 54px;
    display: inline-block;
}

.next-link .nav-title {
    color: #fff;
    font-size: 33px;
    font-weight: 600;
}

.next-link .next-title {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}

.next-link .next-title,
.next-link .nav-title {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
}

.next-link:hover .next-title,
.next-link:hover .nav-title {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
}

.navigation{
  border-bottom: 1px solid #404040;
  border-top: 1px solid #2f2e2e;
  padding: 36px 0 30px 0;
}

.navigation .next-title{
    font-family: 'Teko', sans-serif;
    font-size: 38px;
    line-height: 45px;
}

.portfolio-image img{
  width: 100%;
}

.lightbox-gallery .image {
    margin-bottom: 30px;
    display: block;
    overflow: hidden;
    transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
}

.lightbox-gal0lery .col.lg-12 .image{
    margin-bottom: 30px;
}

.lightbox-gallery .image img {
    width: 100%;
    transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
}

.lightbox:hover img {
    transform: scale(1.13);
    transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
}


/* Preloader */

.preloader.first {
  background: #000;
    z-index: 100;
}

.preloader {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    position: fixed;
}

.preloader .loader {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 4px solid #fff;
    -o-animation:loader 2s infinite ease;
    -ms-animation:loader 2s infinite ease;
    -moz-animation:loader 2s infinite ease;
    -webkit-animation:loader 2s infinite ease;
    animation: loader 2s infinite ease;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.preloader .loader .loader-inner {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    background-color: #fff;
    -o-animation:loader-inner 2s infinite ease-in;
    -ms-animation:loader-inner 2s infinite ease-in;
    -moz-animation:loader-inner 2s infinite ease-in;
    -webkit-animation:loader-inner 2s infinite ease-in;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}


/*------------------------ News ------------------------*/


.news-posts{
    padding: 60px 0;
}

.news{
    margin-bottom: 120px;
    width: 100%;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
}

.sticky {/*
    background: #252525;
    padding-bottom: 60px;*/
}

.sticky:before{
    content: '\f08d';
    font-family: 'Font Awesome 5 free';
    font-weight: bold;
    color: #fff;
    position: absolute;
    background: #000;
    padding:25px 30px;
    font-size: 26px;
    left: 30px;
}

.audio:before{
    content: '\f025';
    font-family: 'Font Awesome 5 free';
    font-weight: 900;
    color: #fff;
    position: absolute;
    background: #000;
    padding:25px 30px;
    font-size: 26px;
    left: 30px;
}

.video:before{
    content: '\f04b';
    font-family: 'Font Awesome 5 free';
    font-weight: bold;
    color: #fff;
    position: absolute;
    background: #000;
    padding: 29px 31px;
    font-size: 26px;
    left: 30px;
}

.news-title{
    color: #fff;
    font-size: 50px;
    line-height: 52px;
    font-weight: 600;
    letter-spacing: -1px;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    font-family: 'Teko', sans-serif;
    margin-top: 10px;
}

.news .news-title:hover{
    opacity: .5;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
}

.news.active{
    opacity: .2;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
}

.news-info{
    color: #fff;
    font-size: 15px;
    margin: 45px 0 0px;
    display: block;
    opacity: .7;
}

.news-article .news-info{
    margin-bottom: 30px;
}

.news-images {
    white-space: nowrap;
    position: fixed;
    opacity: 0;
    visibility: hidden; 
    height: auto;
    z-index: -1;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;    
    left: 0;
    right: 0;
    margin: 0 auto;
}

.news-images img{
    opacity: .7;
}

.news-images.visible{
    opacity: 1;
    visibility: visible;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
}


.nav-links {
    margin: auto;
    border-top: solid 1px #333333;
    padding: 80px 0px;
}

.nav-links ul {
    padding: 0px;
    margin: 0px;
}

.nav-links ul li {
    display: inline-block;
    color: #FFFFFF;
    padding: 0px 10px;
    font-size: 20px;
    line-height: 40px;
    font-weight: 500;
}

.nav-links ul li .current {
    font-weight: 700;
    font-size: 30px;
    vertical-align: middle;
}

.nav-links ul li a {
    color: #FFFFFF;
    opacity: .5;
    vertical-align: middle;
}

.nav-links ul li a:hover{
    opacity: 1;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
}

.news-article .new-image{
    width: 100%; 
}

.news-article .news-image img{
    width: 100%; 
}

.news-article p{    
    font-size: 14px;
    line-height: 28px;
    opacity: .8;
}

.news-article .news-info {
    margin-top: 5px;
}

blockquote {
    color: #000;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 24px;
    border-left: 4px #565656 solid;
    padding: 20px 20px 20px 40px;
    margin:30px 0;
}

blockquote p {
    opacity: 1 !important;
}


/*Comments*/

.article-comments .comment {    
    border-bottom: solid 1px #383838;
    padding-bottom: 30px;
}

.article-comments .comment figure img {
    width: 100%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}

.article-comments .comment-content .title {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
    color: #fff;
}

.article-comments .comment-content .date {
    color: #505050;
    font-size: 12px;
}

.article-comments .comment-content p {
    color: #818080;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 4px;
}

.article-comments .comment-content .reply {
    font-size: 12px;
    color: #fff;
    margin-top: 10px;
    display: inline-block;
}

.article-comments .comment-content .reply:before {
    content: "\f3e5";
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    margin-right: 7px;
    font-size: 10.5px;
}

.article-comments .comment:last-child {
    border: none;
}

.article-comments .comment.reply {
    padding-left: 30px;
}

.secondtitle {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

/* sidebar */

.widget-title {
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    font-family: 'Teko', sans-serif;
}

.widget_recent_entries ul li {
    list-style: none;
    border-bottom: solid 1px #464646;
}

.widget_recent_entries ul li a {
    border-bottom: 1px solid #2d2d2d;
    width: 100%;
    display: block;
    padding: 15px 0;
    transition: all ease 0.3s;
}

.widget_recent_entries ul li:last-child a{
    border: none;
}

.widget_recent_entries .title {
    font-size: 16px;
    line-height: 23px;
    color: #989898;
    padding: 0;
}

.widget_recent_entries .title:hover{
    color: #fff;
    transition: all ease 0.3s;
}

.widget_recent_entries ul li span {
    color: #fff;
    font-size: 12px;
}

.widget_categories ul li {
    list-style: none;
}

.widget_categories ul li a {
    color: #9a9a9a;
    font-size: 16px;
    padding: 3px 0;
    border-bottom: 1px solid #2d2d2d;
    display: block;
    transition: all ease 0.3s;
        line-height: 36px;
}

.widget_categories ul li a:hover{
    color: #fff;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
}

.widget_archive ul li a:hover{
    color: #fff;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
}

.widget_categories > ul, .widget_recent_entries > ul{
    padding: 0;
}

.widget_categories ul{
    margin:0;
}

.widget_categories ul li:last-child a{
    border: none;
}

a.news-image{
    width: 100%;
    margin-bottom: 30px;
}

.news-image img{
    width: 100%;
}

.news-widget_categories{
    margin-top: 20px;
}

.news-widget_categories a{
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    margin-right: 10px;
}

.news-widget_categories a:last-child{
    margin-right: 0px;
}

.news-widget_categories a:hover{
    opacity: .5;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
}

.sidebar-menu{
    color: #000;
    background: #fff;
    position: fixed;
    right: 60px;
    bottom: 60px;
    padding:12px 15px;
    cursor: pointer;
    z-index: 21;
}

.sitesidebar{    
  padding-left: 40px;
}

.widget_archive ul li ul{
    margin: 0;
}

.widget_archive ul li {
    list-style: none;
    display: -webkit-box;
    font-size: 12px;
    line-height: 25px;
}

.widget_archive ul li a {
    color: #9a9a9a;
    font-size: 14px;
    border-bottom: 1px solid #2d2d2d;
    display: block;
    transition: all ease 0.3s;
}

.widget_archive > ul, .widget_recent_entries > ul{
    padding: 0;
}

select {
    width: 60%;
    font-size: 13px;
    padding: 0px 15px;
    background-color: #222222;
    color: #FFFFFF;
    height: 40px;
    border-radius: 0px;
    border: solid 2px;
    -webkit-appearance: none;
    outline: none;
    background-image: url(../img/select-down.png);
    background-repeat: no-repeat;
    background-position: right;
}



/*------------------------ Responsive ------------------------*/


@media screen and (min-width: 1025px) {

  #smooth-scroll {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
    
  .scrollbar-track {
    background: transparent!important;
  }

}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .ws-pages {                           
        height: 1024px;                         
    }                       
}   
                                            
/* iPad with landscape orientation. */                       
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {                         
    .ws-pages {                           
        height: 768px;                         
    }                       
}
                                               
/* iPhone 5 */                      
 @media screen and (device-aspect-ratio: 40/71) {                              
    .ws-pages {                           
        height: 500px;                         
    }                       
}

@media screen and (max-width: 1024px) {


  header, .slider-bottom{
    padding: 30px;
  }

  .right-menu{
    width: 36%;
  }

  .all-projects ul li a {
      text-align: center;
  }
  
  .news-title {
    font-size: 40px;
    line-height: 60px;
    }

    .news-info {
        margin-top: 20px;
    }


}



@media screen and (max-width: 768px) {

    .news-title {
        font-size: 30px;
        line-height: 50px;
    }

    .news-posts {
        padding: 30px 0;
    }
           
    .comment.reply {
        padding-left: 0 !important;
    }

    .comment figure img {
        display: none;
    }

    .news-article {
        padding: 0 15px;
    }

}


@media screen and (max-width: 580px) {

  header, .slider-bottom {
    padding: 20px;
}


  .slider-text-heading .title {
      font-size: 45px;
      line-height: 44px;
  }

  .slider-text-heading .number {
      font-size: 12px;
  }

  .slider-bottom .social, footer .social{
    display: none;
  }

  .slider-bottom .see-all {
      float: right;
  }

.all-projects ul li a {
    font-size: 40px;
    line-height: 70px;
}

.right-menu {
    width: 82%;
}

.right-menu nav ul li a {
    font-size: 24px;
}

.portfolio-hero .hero-content .title {
    font-size: 36px;
    line-height: 29px;
}

.down-icon {
    margin: 0 auto 30px;
}

.subpage {
    padding: 80px 15px 0;
}


.next-link {
    height: 34px;
}

.next-link .nav-title {
    font-size: 23px;
}

.navigation {
    padding: 26px 0 20px 0;
}

footer{
  padding: 30px;
}

.ws-pages {                           
    height: 88vh;                         
}  

.page-title {
    font-size: 40px !important;
}

.subtext {
    font-size: 18px !important;
    line-height: 10px;
    margin-top: 0;
}

.contact-map.top_90{
  margin-top: 30px;
}

.getintouch{
  margin-top: 60px;
}

footer {
    padding: 60px 17px 15px;
    display: inline-block;
}

footer .back-top {
    display: inline-block;
    margin-bottom: 5px;
    height: 26px;
}

footer .copyright {
    float: none;
    display: inline-block;
}

.all-projects ul {
    margin: 80px 0 90px;
}

.all-projects ul li a {
    font-size: 30px;
    line-height: 60px;
}

.close-icon {
    top: 24px;
    right: 30px;
}

   .news-title {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0px;
    }

    .news {
        margin-bottom: 50px;
        padding: 0 20px;
    }


}
















