@font-face {
	font-family: 'themify';
	src: url(../../assets/fonts/themify.eot?h=bbe1c0a3c36539fc35cd4a23702bdbad&-fvbane=) format('embedded-opentype'),
	url(../../assets/fonts/themify.eot?h=bbe1c0a3c36539fc35cd4a23702bdbad) format('embedded-opentype'),
	url(../../assets/fonts/themify.woff?h=bbe1c0a3c36539fc35cd4a23702bdbad&-fvbane=) format('woff'),
	url(../../assets/fonts/themify.ttf?h=bbe1c0a3c36539fc35cd4a23702bdbad&-fvbane=) format('truetype'),
	url(../../assets/fonts/themify.svg?h=bbe1c0a3c36539fc35cd4a23702bdbad&-fvbane=) format('svg');
	font-weight: normal;
	font-style: normal;
}